li a:hover {
    background-color: #111111;
   
  }
  
.hi{
    display:flex;
    align-items: flex-start;
    margin-left: 100px;
    margin-top: 20px;
    
    color:rgb(84, 161, 84) ;
  
  }
  .f_size{
    font-family:Monospace;
    font-size: 40px;
  }
  .hi{
    display:flex;
    align-items: flex-start;
   
    margin-top: 20px;
    margin-bottom: 0px;
    
    color:rgb(84, 161, 84) ;
  
  }
  .f_size{
    font-family:Fantasy;
    font-size: 45px;
  }

  .numbered-heading {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 10px 100px 40px;
    width: 100%;
    font-size: 32px;
    white-space: nowrap;
    color: rgb(84, 161, 84);
  }
  
  .numbered-heading::after {
    content: "";
    display: block;
    position: relative;
    top: -5px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    margin-top: 20px;
    background-color:rgb(84, 161, 84);
  }
  
  .about_content{
    display:flex;
    align-items: flex-start;
   
    margin: 10px 0px 0px 105px; 
    /* top right bottum left */
    
    
    color:rgb(84, 161, 84) ;
  
  }
  